<% if @birthday == Date.today %>
<div>
<h1>Happy Birthday <%=@name%>!</h1>
<% elsif @birthday > Date.today %>
<h1>Your birthday will be in <%= (@birthday - Date.today).to_i %> days, <%=@name%>!!!</h1>
<% else %>
<h1>Your birthday will be in <%= ((Date.today + 365) - (Date.today - @birthday)).to_i %> days, <%=@name%>!!!</h1>
<% end %>
</div>